name: Build Biomarker APK

on:
  push:
    branches: [ "main" ] # Runs every time you push code to the main branch
  workflow_dispatch:      # Allows you to click a button to start the build manually

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Build Debug APK
        run: ./gradlew assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: SB-MED01-Debug-APK
          path: app/build/outputs/apk/debug/app-debug.apk
